html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "kanit";
  text-align: center;
  color: #ECEDF0;
  background: #404A65;

}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

.header {
  text-shadow: 2px 2px 0px #35383f;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #35383f;
  font-size: 64px;
  margin: 0;
  margin-top: 40px;
}

.subheader {
  margin: 0;
}

h2 {
  font-weight: 500;
}

.random {
  margin: 50px 0px 0px 0px;
}

.random-button {
  background: #1F6FB0;
  padding: 8px 35px;
  box-shadow: 0px 4px 0px 0px #23649b;
  border-radius: 9px;
}