html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #404A65;
    font-family: "kanit";
    text-align: center;
    color: #ECEDF0;
  };

  body {
    height: 100px;
  };

  .author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
  };

  .author-info a {
    text-decoration: none;
  };

  .header {
    text-shadow: -3px -3px 0 #35383F, 3px -3px 0 #35383F, -3px 3px 0 #35383F, 3px 3px 0 #35383F;
  }

  .random {
    background: #1F6FB0;
  }